<div class="class-member class-event" id="{{{name}}}">
	<h4>
		<code class="class-event-name">{{{name}}}</code>
	</h4>
	<div class="class-member-content">
		{{#if discussion}}
			<div class="discussion class-method-discussion">{{{discussion}}}</div>
		{{/if}}
		{{#if callbackArgumentValues.length}}
			<table class="class-event-callback-arguments-values">
				<tbody>
					{{#each callbackArgumentValues}}
						<tr>
							<td class="{{{nameTypeClass}}}">
								<span class="class-event-callback-argument-value">{{{name}}}</span>
							</td>
							<td>
								{{{description}}}
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{/if}}
		{{#if sample}}
			<pre class="sample class-event-sample hljs"><code>{{{sample}}}</code></pre>
		{{/if}}
	</div>
</div>