<div class="class-member class-property" id="{{{name}}}">
	<h4 title="{{{short-description}}}">
		<code class="class-property-name">{{{name}}}</code>
		<code class="class-property-type">{{{type}}}</code>
	</h4>
	<div class="class-member-content {{{typeborder-class}}}">
		{{#if discussion}}
			<div class="discussion class-property-discussion">{{{discussion}}}</div>
		{{/if}}
		{{#if default-value}}
			<span class="default-value">Defaults to <code>{{{default-value}}}</code>.</span>
		{{/if}}
		{{#if is-read-only}}
			<span class="is-read-only">Read-only.</span>
		{{/if}}
		{{#if sample}}
			<pre class="sample class-property-sample hljs"><code>{{{sample}}}</code></pre>
		{{/if}}
	</div>
</div>