<div class="class-member class-method" id="{{{name}}}">
	<h4 class="class-method-signatures" title="{{{short-description}}}">
		{{#each signatures}}
			{{#if ../returns}}
				<code class="class-method-returntype">{{{../../returns}}}</code>
			{{/if}}
			<code class="class-method-signature">{{{../formattedName}}}({{{this}}})</code>
		{{/each}}
	</h4>
	<div class="class-member-content {{{kindborder-class}}}">
		{{#if discussion}}
			<div class="discussion class-method-discussion">{{{discussion}}}</div>
		{{/if}}
		{{#if arguments.length}}
			<table class="class-method-arguments">
				<tbody>
					{{#each arguments}}
						<tr>
							<td class="{{{kindClass}}}">
								<span class="class-method-argument">{{{name}}}</span>
							</td>
							<td>
								<div class="class-method-argument-description {{{multiline-class}}}">
									{{{description}}}
								</div>
								{{#if default-value}}
									<span class="default-value">Defaults to <code>{{{default-value}}}</code>.</span>
								{{/if}}
							</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
		{{/if}}
		{{#if sample}}
			<pre class="sample class-method-sample hljs"><code>{{{sample}}}</code></pre>
		{{/if}}
	</div>
</div>